<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weverson.speedchat">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.signin.SignInActivity">

        </activity>
        <activity
            android:name=".presentation.signup.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.channels.ChannelsActivity" />
        <activity
            android:name=".presentation.addChannel.AddChannelActivity"
            android:parentActivityName=".presentation.channels.ChannelsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.messages.MessagesActivity"
            android:parentActivityName=".presentation.channels.ChannelsActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>